
<h2> <%= @user.name %> </h2>

<% if @user.admin %>
	<h3>ADMIN</h3>
<% end %>	

<ul>
  <li>Tickets: <%= @user.tickets %></li>
  <li>Mood: <%= @user.mood %></li>
  <li>Height in inches: <%= @user.height %></li>
</ul>

<%= link_to "Log Out", logout_path, method: :delete %>
<%= link_to "See attractions", attractions_path %>